.footer-main{
    background: #142A3B;
    margin-top: 0px !important;
  }
  .footer-text{
    text-align: center;
    margin: 0 auto;
    color: white;
    font-size: 14px;
    font-family: 'Neo Sans, Neo Sans Pro';
  }
// .footer-div{
//   bottom: 0px;
//   background:  #142A3B;
//   /* height: 60px; */
//   color: #fff;
//   text-align: center;
//   position: absolute;
//   left: 0;
//   width: 100%;
//   padding: 10px;
//   right: 0;
//   margin: 0 auto;
// }