.cr-header {
  // margin-bottom: $spacer * .5;
  border-bottom: $border-width solid white;
  // border-bottom: $border-width solid $border-color;

  &__nav-right {
    flex-direction: row; 
    justify-content: flex-end;
    // margin-left: auto;
  }

  // &__notification-popover {
  //   &.popover {
  //     width: 320px;
  //     max-width: 320px;
  //     max-height: 100vh;
  //     overflow-y: scroll;
  //     cursor: pointer;
  //   }
  // }

}
.bgNav{
  background: #1F3C53;
  position: fixed;
  width:100%;
  z-index: 6;
  box-shadow: 0px #0000000F;
  
  .Nav-Name{
    text-align: center;
    color: white;
    margin: 0 auto;
    font-family: 'Neo_Sans';
    font-size: 16px;
    font-weight: 500;
  }
  .MuiSvgIcon-root{
    fill: #fff;
  }
  .MuiIconButton-colorInherit{
    color: none;
  }
}
.button:focus{
  outline: 0px;
}

.ToggleBtn{
  color: #fff;
  border-color: #fff;
  background: #1F3C53 linear-gradient(180deg, #1F3C53, #1F3C53) repeat-x;
  // :hover{
  //   background: rgb(114, 171, 218) linear-gradient(180deg, #1F3C53, #1F3C53) repeat-x;
  //   background: rgb(114, 171, 218);
  // }
}